SECRET_KEY=your-secret-key
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=calcandcash
DB_USER=postgres
DB_PASSWORD=your-database-password
DB_HOST=db
DB_PORT=5432

REDIS_HOST=redis
REDIS_OTP_URL=redis://redis:6379/0
CHANNEL_REDIS_URL=redis://redis:6379/1
CACHE_REDIS_URL=redis://redis:6379/2

CELERY_BROKER_URL=redis://redis:6379/3
CELERY_RESULT_BACKEND=redis://redis:6379/4

SMS_API_URL=your-sms-api-url
SMS_FROM_NUMBER=your-sms-from-number